@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* background-color: #120c5c;
  overflow: hidden; */
  height: 100%;

  /* width: 100%;
  overflow-y: scroll; */
}

@media (min-width: 640px) {
  html {
    min-width: 400px;
  }
}

body {
  background-color: #120c5c;
  height: 100%;
  position: fixed;
  top: -0.1px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.scrollDown {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.fullheight {
  height: calc(var(--vh, 1vh) * 100);
}
